html,body
{
	padding:0;
	margin:0;
	font-family:arial;
}
.heading
{
	background:#000000;
	color:white;
	font-size:1.3em;
	font-family:arial;
}
.todoList
{
	background:#f1f1f1;
	padding:15px;
	width:60%;
	border:solid 1px #c0c0c0;
	margin-top:5px;
	margin-left:5px;
}
.items
{
	margin-left:5px;
	margin-top:10px;
	border-top:solid 5px #e1dad3;
	width:50%;
	padding:5px;
	background-color:#4d90fe;
}
input
{
	padding:5px;
	font-size:1.2em;
}

.singleItem
{	
	padding:8px;
	border-bottom:solid 1px black;
}

.delete
{
	float:right;
}